a, .social-list-item--icon, .btn{
	@include transition(all .2s ease-in-out);
}


@include keyframes(scale){
	100% 	{ @include transform(scale(1)); }
}

@include keyframes(zindex){
	15% 	{ z-index: 1; }
	85% 	{ z-index: -1; }
}

@include keyframes(translateBallOne){
	0% 		{ @include transform(translateX(20px) translateY(60px)); }
	100% 	{ @include transform(translateX(160px) translateY(-40px)); }
}

@include keyframes(translateBallTwo){
	0% 		{ @include transform(translateX(80px) translateY(-110px)); }
	100% 	{ @include transform(translateX(120px) translateY(110px)); }
}

@include keyframes(translateBallThree){
	0% 		{ @include transform(translateX(180px) translateY(-80px)); }
	100% 	{ @include transform(translateX(-40px) translateY(140px)); }
}

@include keyframes(translateBallFour){
	0% 		{ @include transform(translateX(160px) translateY(90px)); }
	100% 	{ @include transform(translateX(30px) translateY(-110px)); }
}

@include keyframes(translateLineOne){
	0% 		{ @include transform(rotateZ(53deg) translateY(25px)); height: 80px; }
	50% 	{ height: 10px; }
	100% 	{ @include transform(rotateZ(53deg) rotateX(180deg) translateY(25px)); height: 40px; }
}

@include keyframes(translateLineTwo){
	0% 		{ @include transform(rotateZ(170deg) translateY(25px)); height: 70px; }
	100% 	{ @include transform(rotateZ(170deg) rotateX(180deg) translateY(25px)); height: 70px; }
}

@include keyframes(translateLineThree){
	0% 		{ @include transform(rotateZ(225deg) translateY(25px)); height: 80px; }
	30% 	{ height: 30px; }
	80% 	{ height: 150px; }
	100% 	{ @include transform(rotateZ(225deg) rotateX(-180deg) translateY(25px)); height: 160px;}
}

@include keyframes(translateLineFour){
	0% 		{ @include transform(rotateZ(327deg) rotateX(0deg) translateY(25px)); height: 80px; }
	20% 	{ height: 60px; }
  40% 	{ height: 60px; }
	100% 	{ @include transform(rotateZ(327deg) rotateX(-180deg) translateY(25px)); height: 100px; }
}


@include keyframes(translateBallEnd){
	100% 	{ @include transform(translateX(100px) translateY(0px)); }
}

@include keyframes(translateLineEnd){
	100% 	{ height: 0px; }
}
