.btn{
  display: block;
  background: $color3;
  height: 3rem;
	width: 100%;
  text-align: center;
  color: $color1;
  line-height: 3rem;
  padding-left: 0;
  @include border-radius(.16666666666667rem);
	border: 0 solid $color3;
	cursor: pointer;
	&:hover{
		color: $color3;
		background: transparent;
		border-width: 1px;
	}
}

@media only screen and (min-width: $width-tablet){
	.btn{
		width: 50%;
	}
}

@media only screen and (min-width: $width-desktop){
	.btn{
		width: 12.20833333333333rem;
	}
}