.contact-form{
	margin-top: -0.22222222222222rem;
}

.contact-form-input{
	display: inline-block;
	background: lighten($color2, 10%);
	color: $color3;
	-webkit-autofill: lighten($color2, 10%);
	@include border-radius(.16666666666667rem);
	&:hover, &:focus, &:active{
		background: lighten($color2, 10%);
		color: $color3;
	}
	&::-webkit-input-placeholder{ 
    color: $color3;
		text-decoration:underline;
	}	
	&:-moz-placeholder{ 
    color: $color3;
		text-decoration:underline;
	}
	&::-moz-placeholder{ 
    color: $color3;
		text-decoration:underline;
	}	
	&:-ms-input-placeholder{ 
    color: $color3;
		text-decoration:underline;
	}
}

.contact-form-input--name, 
.contact-form-input--email,
.contact-form-input--message{
	position: relative;
}

.contact-form-input--name, 
.contact-form-input--email{
	height: 1.5rem;
	padding-left: .27777777777778rem;
	vertical-align:baseline;
	line-height: 1.5rem;
	width: 100%;
	text-indent: 10rem;
	top: -1.55555555555556rem;
}

.contact-form-input--email{
	text-indent: 6.44444444444444rem;
}

.contact-form-input--message{
	width: 100%;
	resize: none;
	height: 7.5rem;
	padding: 0 0.11111111111111rem;
	line-height: 1.5rem;
	margin-bottom: 3rem;
	text-indent: 8.94444444444444rem;
	top: -1.44444444444444rem;
}

.start-message{
	position: relative;
	z-index: 10;
}

.contact-form-input--submit{
	@include box-sizing(border-box);
	width: 100%;
	margin-top: -1.16666666666667rem;
	margin-bottom: 3rem;
	height: 3rem;
	position: relative;
	.btn{
		border: 1px solid $color3;
		font-size: 1rem;
		font-family: $content-font;
		font-weight: 300;
		padding: 0;
		&:before,
		&:after{
			content: '';
			display: block;
			height: 100%;
			width: 100%;
			text-align: center;	
			line-height: 3rem;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 auto;
			z-index: 5;
			@include border-radius(3px);
		}
		&:before{
			content: '';
			width: 0%;
			background: darken($color3, 2%);
			@include transition(all 1s ease-in-out);
		}
	}
}

.contact-form-input--submit.is-on-progress .btn{
	background: $color3;
	color: $color1;
	&:before{
		display: block;
		width: 100%;	
	}
}

.contact-form-input--submit.is-done .btn{
	background: $color3;
	color: $color1;
	&:before{
		display: none;
	}
	&:after{
		content: 'Merci';
		background: darken($color3, 2%);
		color: $color1;
	}
}

.contact-form-input--submit.is-fail .btn{
	background: $color3;
	color: $color1;
	&:before{
		display: none;
	}
	&:after{
		content: 'Erreur';
		background: darken($color3, 2%);
		color: $color1;
	}
}

@media only screen and (min-width: $width-tablet){

}

@media only screen and (min-width: $width-desktop){
	.contact-form{
		margin-top: -0.33333333333333rem;
	}
	.contact-form-input{
		background: transparent;
		-webkit-autofill: transparent;
		&:hover, &:focus, &:active{
			background: lighten($color2, 10%);
			color: $color3;
		}
	}
	.contact-form-input--submit{
		width: 12.20833333333333rem;
	}
}