/* Hugrid 
 * Personalize hugrid css
----------------------------------------- */

#hugrid div div {
	border-color:lighten($color3, 10%);; /* color of grid line */
}
#hugrid div:hover {
	background-color:lighten($color3, 10%);; /* color of gutter on :hover */
}
#hugrid div.mline {
	border-color: darken($color3, 10%); /* color of margin line */
}
#hugridRows {
	border-color: darken($color3, 10%); /* color of top margin line */
}
#hugridRows div.lineB {
	border-color:lighten($color3, 10%); /* color of row line */
	opacity:0.3; /*opacity of row line */
}
#hugridRows div.lineB:hover {
	border-color:lighten($color3, 10%); /* color of row line on :hover */
	opacity:1.0; /*opacity of row line on :hover */
}