.case-preview{
  @include clearfix;  
  margin-bottom: 7.5rem;
  .case-preview--title{

  }
  .case-preview--thumb-container{
    width: auto;
    float: right;
    img{
      width: 100%;
      height: auto;
    }
  }
  .case-preview--description{

  }

}

