.projet{
	display: block;
	min-height: 18rem;
	margin-bottom: 7.5rem;
	border: 1px solid black;
	@include clearfix;
	.projet-thumb-container{
		float: right;
		padding-right: 0;
		height: auto;
		display: block;
		img{
			width: 100%;
			height: auto;
		}
	}
	.projet-desc{
		margin-bottom: 3rem;	
	}
	.projet-title{
		margin-bottom: 1.5rem;	
		margin-top: -4px;
	}
}

