.title{
	
}

.subtitle{
	margin: -15px 0 29px 0;
	line-height: 3rem;
}

.subsubtitle{
	display: block;
	margin: -0.44444444444444rem 0 4.5rem 0;
}

//@media only screen and (min-width: $width-desktop){
//	.adaptatif-content{
//		visibility:hidden;
//		height: 0;
//		width: 0;
//		text-indent: -999px;
//		&:after{
//			content:attr(data-desktop);
//			display: inline-block;
//			visibility: visible;
//			position: absolute;
//			left: 999px;
//		}
//	}
//	
//}