.title{
  font-size: em($base-size * ($ratio * $ratio * $ratio * $ratio), $base-size);
	line-height: 6rem;
	margin-bottom: .55555555555556rem;
}

.subtitle{
  font-size: em($base-size * ($ratio * $ratio), $base-size);
  margin: -0.83333333333333rem 0 1.61111111111111rem 0;
  line-height: 3rem;
}

.subsubtitle{
	display: block;
	margin: -0.44444444444444rem 0 4.5rem 0;
}

.returnParag{
	display: block;
	margin-bottom: 1.5rem;
}
.italic{
	font-style: italic;
}

.on-s, .on-m, .on-l{
	display: inline-block;
}

.on-s:first-letter{
	text-transform: uppercase;
}

.on-m, .on-l{
	display: none;
}

a{
	color: $color2;
	&:hover{
		color: $color3;	
	}
}

.strong{
	font-weight: bold;
}

@media only screen and (min-width: $width-tablet){
	.on-s:first-letter{
		text-transform: lowercase;
	}
	
	.on-m{
		display: inline-block;
		&:first-letter{
			text-transform: uppercase;
		}
	}
}

@media only screen and (min-width: $width-desktop){
	.italic{
		margin-left: 4.56944444444444rem;
	}
	
	.on-s:first-letter,
	.on-m:first-letter{
		text-transform: lowercase;
	}
	
	.on-l{
		display: inline-block;	
		&:first-letter{
			text-transform: uppercase;
		}
		&.FirstLetterCap:first-letter{
			text-transform: uppercase;
		}
	}
	
	.FirstLetterCap:first-letter{
		text-transform: lowercase;
	}
}


.noFirstLetterCap:first-letter{
	text-transform: lowercase;
}

.FirstLetterCap:first-letter{
	text-transform: uppercase;
}