.title{
  font-size: em($base-size * ($ratio * $ratio * $ratio * $ratio), $base-size);
	line-height: 6rem;
	margin-bottom: 10px;
}

.subtitle{
  font-size: em($base-size * ($ratio * $ratio), $base-size);
  margin: -15px 0 29px 0;
  line-height: 3rem;
}

.subsubtitle{
	display: block;
	margin: -0.44444444444444rem 0 4.5rem 0;
}

.returnParag{
	display: block;
	margin-bottom: 1.5rem;
}
.italic{
	font-style: italic;
}


@media only screen and (min-width: $width-desktop){
	.italic{
		margin-left: 82.25px;
	}
}