.header{
  position: relative;
  padding: 1.83333333333333rem 4%;
}

.home .header{
	@include clearfix();
  height: 100%;
}

.home .header,
.Credits .header,
.error404 .header{
	background: $color2;
  color: $color1;
	a{
		color: $color1;
		&:hover{
			color: $color3;	
		}
	}	
}

.header--title{
//	margin-left: -0.16666666666667rem;
	max-width: 500px;
	height: 6rem;
	@include position(absolute, 0px 0px 0px 0px);
	margin: auto;
	text-align: center;
	line-height: 4.5rem;
	top: -2rem;
}
.header--subtitle{
	display: inline;
	max-width: 500px;
	height: 1rem;
	line-height: 1.5rem;
	@include position(absolute, 0px 0px 0px 0px);
	margin: auto;
	text-align: center;
	top: 2rem;
}

.header--experiment{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin: auto;
}


@media only screen and (min-width: $width-desktop){
	.header{
		padding: 1.83333333333333rem 1.77777777777778rem;
	}
	
	.header--experiment{
		display: block;	
	}
}