.header{
  position: relative;
  padding: 33px 1.77777777777778rem 0 1.77777777777778rem;
}

.home .header{
	@include clearfix();
  height: 100%;
}

.home .header,
.Credits .header{
	background: $color2;
  color: $color1;
}

.header--title{
	margin-left: -3px;
	line-height: 4.5rem;
}
.header--subtitle{
}

.header--experiment{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin: auto;
}