main[role="main"]{
	background: $color1;	
	position: relative;
}


.error404 .main{
	background: $color2;
	color: $color1;
	height: 100%;
	.wrapper{
		text-align: center;
		height: 18.88888888888889rem;
		@include position(absolute, 0px 0px 0px 0px);
		margin: auto;
	}
	.title{
		margin-bottom: 3rem;	
	}
	.error404--link{
		margin: 3rem auto 0 auto;
	}
}
.mail{
		background: $color2;
	.wrapper{
		background: $color2;
		text-align: center;
		.mail-img-container{
			width: 100%;
			margin: 4.5rem auto;
			text-align: center;
			padding: 0 4%;
			img{
				width: 100%;
				height: auto;
			}
		}
	}
}

.section-container{
	padding: 4.5rem 0;
	min-height: 27rem;
	.container{
		width: 100%;
	}
}

.section-container-about{
	background: darken($color1, 10%);
}

.section-container-contact{
	background: $color2;
	color: $color1;
	padding-bottom: 0;
}

.section-container-ressource{
	min-height: auto;
}

.case-study--content{
	.container{
		width: 100%;
	}
}

.tfa{
	background: $color2;
	.main{
		background: $color2;	
	}
	.tfa-home-list{
		margin-bottom: 6rem;	
	}
	.tfa-home-list-item{
		width: 100%;
		margin: 0 auto;
		margin-bottom: 1.5rem;
	}
	.title{
		color: $color1;
		text-align: center;
		margin-bottom: 3rem;
	}
	svg{
		fill: $color1;
		width: 100%;	
		height: 6rem;	
		margin: 0 auto;
		margin-top: 3rem;
		text-align: center;
	}
}

@media only screen and (min-width: $width-tablet){
	.section-container-about{
		.container{
			width: 66%;
			margin: 0 auto;
		}
	}
	
	.case-study--content{
		.container{
			width: 66%;
			margin: 0 auto;
		}
	}
}

@media only screen and (min-width: $width-desktop){
	.section-container-about{
		height: 27rem;	
	}
	
	.section-container-about,
	.section-container-credits,
	.section-container-ressource,
	.section-container-confidentialite{
		.container{
			width: 65.625%;
			margin: 0 auto;
		}
	}

	.tfa{
		.tfa-home-list-item{
			width: 21.34722222222222rem;;

		}
	}
	
	.mail-img-container{
		width: 80%;	
	}
	.case-study--content{
		.container{
			width: 65.625%;
			margin: 0 auto;
		}
	}
	
	.error404{
		.error404--link{
			width: 16.77777777777778rem;
		}
	}

}