.main{

}

.about-container{
  padding: 4.5rem 0;
	height: 27rem;
	.container{
		width: 65.625%;
		margin: 0 auto;
	}
}

.case-study{
//	.case-preview:nth-child(odd){
//		background: darken($color1, 5%);	
//	}
}